<!DOCTYPE html>
<html>
<head>
    <title>Update Product</title>
    <link rel="icon" href="/static/logo.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container mt-5">
<h3>Update Product</h3>

<form method="POST">
<input value="{{ product[1] }}" name="name" class="form-control mb-2">
<input value="{{ product[2] }}" name="category" class="form-control mb-2">
<input value="{{ product[3] }}" name="price" class="form-control mb-3">

<button class="btn btn-success">Update</button>
<a href="/" class="btn btn-secondary">Back</a>
</form>

</div>
</body>
</html>